.welcome-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--c_white);
}

.status-bar {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0 24px;
}

.logo-container {
    width: 80px;
    height: 80px;
    background-color: var(--color-primary-light);
    border-radius: 20px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: white;
}

.welcome-title {
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
}

.welcome-subtitle {
    color: var(--color-text-secondary);
    text-align: center;
    margin-bottom: 48px;
}

.welcome-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.welcome-footer {
    text-align: center;
    padding: 24px;
}

.welcome-login-text {
    font-size: 14px;
    color: var(--color-text-secondary);
}

.login-link {
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
}