/* Global Reset & Base Styles */
@import './variables.css';

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../assets/fonts/Gotham Rounded Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-base);
    font-style: normal;
    line-height: 1.5;
    background-color: var(--color-bg-body);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

input,
textarea,
select {
    font-family: inherit;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utilities */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: var(--spacing-md);
}

.text-title {
    margin-inline: 1rem;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 600;
}

.text-primary {
    color: var(--color-primary);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-warning {
    color: var(--color-warning);
}

.fGrid {
    display: grid;
    grid: repeat(auto-fill, minmax(250px, 1fr)) / repeat(auto-fill, minmax(250px, 1fr));
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center center;
}

.align-center {
    align-items: center;
}

.gap-md {
    gap: var(--spacing-md);
}

.gap-sm {
    gap: var(--spacing-sm);
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.card {
    background: var(--color-bg-card);
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-sm);
    padding: var(--spacing-md);
}