.credential-list-container {
    overflow-y: auto;
}

.credential-header {
    padding: 16px 24px;
    position: sticky;
    top: 0;
    background-color: var(--c_white);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
}

.back-arrow {
    font-size: 24px;
}

.add-icon {
    font-size: 2rem;
    color: var(--color-primary);
}

.scroll-content {
    padding: 24px;
    overflow-y: auto;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.credential-card {
    display: grid;
    grid: 3em 2em 2em / 75% 25%;
    border-radius: 1rem;
    padding: 2rem;
    color: var(--c_white);
    cursor: pointer;
    transition: transform 0.2s;
}

.credential-card:active {
    transform: scale(0.98);
}

.card-header {
    margin-bottom: 40px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;
}

.provider-name {
    font-weight: calc(var(--font-weight-semibold) + 100);
    font-size: 1.25em;
}

.plan-info {
    font-size: .75em;
    opacity: 0.8;
}

.card-number {
    grid-area: 2 / 1 / 3 / 1;
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-family: monospace;
}

.card-footer {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: space-between;
}

.holder-name {
    font-size: 1em;
    text-transform: uppercase;
}

.view-detail {
    font-size: .75em;
    opacity: 0.8;
}

.add-card-button {
    border: 2px dashed var(--c_slate300);
    border-radius: 16px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #999;
    cursor: pointer;
}

.add-symbol {
    font-size: 32px;
    margin-bottom: 8px;
}